@import "compass";
//@import "compass/reset";

body{
	font-family:"Verdana", "Arial", sans-serif;
	line-height:140%;
	font-size: 100%;
	color:#222222;
}

h1{
	font-size:3em;
	font-weight:500;
	margin-bottom:0.5em;
	color:lighten(#222222,25%);
}

h2{
	font-size:2em;
	font-weight:500;
	margin-bottom:0.5em;
}

p{
	font-size: 1em;
	margin-bottom:1em;

}
code{
	background-color:lightblue;
	display:inline-block;
	padding:4px;
}

.container{
	width:60%;
	margin:10% auto;
}